body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
}

.titulo {
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.resenha {
    font-size: 22px;
    line-height: 1.6;
}

.footer {
    font-size: x-large;
    font-weight: 900;
}


.dezesseis {
    background-color: red;
    color: white;
    text-align: center;
}
.quatorze {
    background-color: rgb(247, 84, 24);
    color: white;
    text-align: center;
}

.dezoito {
    background-color: black;
    color: white;
    text-align: center;
}
.doze {
    background-color: rgb(214, 214, 27);
    color: white;
    text-align: center;
}
.dez {
    background-color: blue;
    color: white;
    text-align: center;
}
header {
    background-image: url(https://img.freepik.com/vetores-premium/grunge-film-reel-strip-isolado-filme-filmstrip_8071-63446.jpg?semt=ais_se_enriched&w=740&q=80);
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 25px;
}
.apresentação {
    color : red
}

body {
    padding-top: 40px;
    padding-left: 10px;
    padding-block-end: 60px;
    width: 80%;  
    margin: 0 auto; 
}
footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    /* Efeito ao passar o mouse */
opacity: 0.5;



}
.trailers {
    font-family: 'Times New Roman', Times, serif;;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: #111;
    padding: 15px 0;;
    border-radius: 25px;
}
.navegacao a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

}
.navegacao {
    position: sticky;
    top: 0;
    background: #111;
    padding: 15px;
    z-index: 100;
}
.navegacao a:hover {
    /* Efeito ao passar o mouse */
opacity: 0.5;
}


.social {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centralizar os simbolos */
  gap: 25px; /* tamanho dso espaços entre os links */
}

.social img {
  /* tamanho dos simbolos*/
  width: 40px; 
  height: 40px;
  /* remover bordas*/
  border: none; 
  /* efetos de opaco*/
  transition: opacity 0.3s, transform 0.3s;
}

.social img:hover {
  /* Efeito ao passar o mouse */
  opacity: 1; 
  transform: scale(1.5); 
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: red;
    text-align: center;


}

